<div class="actions">
	<%= link_to 'Photos', cloud_show_path(current_user),:class => "btn btn-lg btn-default"%>   
	<%= link_to 'Upload photos', uploads_new_path(current_user),:class => "btn btn-lg btn-default"%>    
	<%= link_to 'SlideShowes', slideshow_index_path(current_user), :class => "btn btn-lg btn-default"%><br><br/>
</div>

